<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="c.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <h1>Response Table</h1>
                <table>
                    <caption>
                        Book List
                    </caption>
                    <tr>
                        <th >S No.</th>
                        <th >Book Name</th>
                        <th >Author</th>
                        <th >Publisher</th>
                        <th >isbn</th>
                        <th >Actions</th>
                    </tr>
                    <tr>
                        <!-- {% for book in book_data %} -->
                        <td data-cell="S No.">Hi</td>
                        <td data-cell="Book Name">Hi</td>
                        <td data-cell="Author">Hi</td>
                        <td data-cell="Publisher">Hi</td>
                        <td data-cell="isbn">Hi</td>
                        <!-- {% endfor %} -->
                    </tr>
                    <tr>
                        <!-- {% for book in book_data %} -->
                        <td data-cell="S No.">Hi</td>
                        <td data-cell="Book Name">Hi</td>
                        <td data-cell="Author">Hi</td>
                        <td data-cell="Publisher">Hi</td>
                        <td data-cell="isbn">Hi</td>
                        <!-- {% endfor %} -->
                    </tr>
                    
                </table>
        </div>
    </main>
</body>
</html>