<title>Student</title>
{% extends 'frontend/base.html' %}

<body>
{% block content %}
<div class="container mt-5">
  <form class="mb-4">
    <div class="row">
      <div class="col-md-6">
        <input class="form-control" name="search" placeholder="search">
      </div>
    <div class="col-md-6">
      <button class="btn btn-success">Search</button>
    </div>
  </form>
  <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S No.</th>
          <th scope="col">Student Name</th>
          <th scope="col">Roll no.</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          {% for data in student_data %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{data.student_name}}</td>
          <td>{{data.student_id}}</td>
          <td>
              <a href="/delete-student/{{data.id}}/" class="btn btn-danger m-2">Delete</button></a>
              <a href="/update-student/{{data.id}}/" class="btn btn-success">Update</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
    




{% endblock %}
</body>
</html>