<!-- <title>Books</title> -->
{% extends 'frontend/base.html' %}


{% block content %}
<body>
    <main>
        <div class="wrapper">
            <h1>Response Table</h1>
                <table>
                    <caption>
                        Book List
                    </caption>
                    <tr>
                        <th >S No.</th>
                        <th >Book Name</th>
                        <th >Author</th>
                        <th >Publisher</th>
                        <th >isbn</th>
                        <!-- <th >Actions</th> -->
                    </tr>
                    <tr>
                        <!-- {% for book in book_data %} -->
                        <td data-cell="S No.">Hi</td>
                        <td data-cell="Book Name">Hi</td>
                        <td data-cell="Author">Hi</td>
                        <td data-cell="Publisher">Hi</td>
                        <td data-cell="isbn">Hi</td>
                        <!-- {% endfor %} -->
                    </tr>
                    <!-- <tr>
                        
                        <td data-cell="S No.">Hi</td>
                        <td data-cell="Book Name">Hi</td>
                        <td data-cell="Author">Hi</td>
                        <td data-cell="Publisher">Hi</td>
                        <td data-cell="isbn">Hi</td>
                        
                    </tr> -->
                    <!-- <tr>
                        {% for book in book_data %}
                        <td data-cell="S No.">{{forloop.counter}}</td>
                        <td data-cell="Book Name">{{book.title}}</td>
                        <td data-cell="Author">{{book.authors}}</td>
                        <td data-cell="Publisher">{{book.publisher}}</td>
                        <td data-cell="isbn">{{book.isbn}}</td>
                        <td data-cell="Actions"><a href="/delete-book/{{book.id}}/" class="btn btn-danger m-2">Delete</button></a></td>
                        {% endfor %}
                    </tr> -->
                </table>
        </div>
    </main>
</body>
{% endblock %}
</body>
</html>