<title>Books</title>
{% extends 'frontend/base.html' %}

<!-- <body> -->
{% block content %}
<!-- <nav>
    <div class="logo">LBMS</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>  
        <li><a class="" href="/">Home</a></li>
        <li><a class="" href="{% url 'new_student'%}">Add Student</a></li>
        <li><a class="nav-link" href="{% url 'view_students'%}">Students</a></li>
        <li><a class="nav-link" href="{% url 'view_books'%}">Books</a></li>
        <li><a class="nav-link" href="{% url 'issue_book'%}">Issue a Book</a></li>
        <li><a class="nav-link" href="{% url 'get_transaction_details'%}">Issued Book</a></li>
        <li>
            <form class="d-flex" role="search">
                
            {% if request.user.is_authenticated%}    
                <a href="/logout/" class="btn btn-success" type="submit">Logout</a>
            {% else %}    
            <a href="/login/" class="btn btn-success" type="submit">Login</a>
            {% endif %}    
              </form>
        </li>
    </ul>
</nav> -->
<div class="container mt-4">
    <!-- <h2>Import Books</h2> -->
    <!-- <form class="mb-4" method="post">
        {% csrf_token %}
        <label for="exampleInputEmail1">Number of Books to Import:</label>
        <input name="num_books" required type="text" class="form-control">
        <button type="submit">Import</button>
    </form> -->
    <form class="mb-4">
        <div class="row">
        <div class="col-md-5">
          <input class="form-control" name="search" placeholder="search">
        </div>
        <div class="col-md-6">
          <button class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">S No.</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">isbn</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for book in book_data %}
                <th scope="row">{{forloop.counter}}</th>
                <td>{{book.title}}</td>
                <td>{{book.authors}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.isbn}}</td>
                <td><a href="/delete-book/{{book.id}}/" class="btn btn-danger m-2">Delete</button></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
</body>
</html>